In [6]:
first_name = input('Insert your first name')
middle_name = input('Insert your middle name')
last_name = input('Insert your last name')

print("Hello ",first_name , middle_name, last_name,"!!")

Insert your first nameAwal
Insert your middle nameAlif
Insert your last nameAfghan
Hello  Awal Alif Afghan !!

In [5]:
#luas => p * l
#keliling => 2  * (p+l)

panjang = input('panjang')
lebar = input('lebar')

luas = int(panjang) * int (lebar)
keliling = 2 *(int(panjang) + int(lebar))

print("luas persegi panjang", luas)
print("keliling persegi panjang:", keliling)

panjang4
lebar5
luas persegi panjang 20
keliling persegi panjang: 18

<h1>Output Separator</h1>

In [ ]:
print("28 , november", "2024", sep='_')
print("28 , november", "2024", sep='_')
#28
#november
#2024

print("28")`

<h1>Memformat dengan string</h1>

<h1>Memformat dengan key</h1>

In [8]:
bulan1 = "september"
bulan2 ="januari"

print("Nama-nama bulan {1},{0}".format(bulan1,bulan2))

Nama-nama bulan januari,september

<h1>Memformat Pengenalan String</h1>

In [12]:
print("Nama saya {fname} {lname}".format(fname='Awal Alif',lname='Afghan'))

Nama saya Awal Alif Afghan

In [13]:
kampus = "universitas nusa putra"
print(kampus[0]) #u
print(kampus[-1]) #a

#menggunakan range
print(kampus[0:11])
print(kampus[12:])
print(kampus[-5:])
print(kampus[::-1])

u
a
universitas
nusa putra
putra
artup asun satisrevinu

<h1>Interpolasi menggunakan F-string</h1>

In [15]:
p = 10
l = 20

print(f'luas persegi = {l*p}')
print(f'keliling persegi ={2 *(p+1)}')

luas persegi = 200
keliling persegi =22

In [ ]:
nama_siswa = "Andri,Budi,Jamal"
nama_siswa = nama_siswa.upper()
print(nama_siswa.split(','))
print('@'.join(nama_siswa.split(',')))

<h1> Tugas</h1>

In [ ]:
#buat program
#input nama => Tedi wijaya
#input => 18/12/2023

#Output
#Nama anda :Tedi wijaya
#tgl lahir :18
#bln lahir :desember
#thn lahir :2023
#inisal :TW

nama = input('masukan nama anda')
tgl_lahir = input('masukan tanggal lahir anda')

tgls = tgl_lahir.split('/')
namas = nama.split()
print(f"Nama anda: {nama}")
print(f"tgl lahir:{tgls[0]}" )
print(f"tanggal :{tgl[1]"}
print(f"bulan :{tgl[1]}")
print(f"tahun :{tgl[2]}")
print(f"Inisial :{namas[0][0]}{namas[2][0]}")